*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 5px black;
    border-style: groove;
}
h2{
    margin: 10px;
    color: rgb(199, 16, 16);
}
a{
    text-decoration: none;
}
h1{
    margin: 20px;
    
}